
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.header-estilos {
  display: flex;
  background-color: black;
  padding: 1rem 4rem;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-img {
  width: 77%;
}

.btn-favoritos {
  height: 41px;
  width: 21%;
  margin-top: 55px;
}

.btn-agregar {
  height: 67px;
  width: 90%;
  /* margin-top: 0px; */
  font-size: 1.25rem;
  font-weight: 700;
  background: linear-gradient(to top right, #34025f, #378486);
  color: antiquewhite;
  letter-spacing: 0.25rem;
  border-radius: 15px;
  border-color: none;
  /* left: 6px; */
  right: 22px;
  cursor: pointer;
}

/*MODAL*/

.modal-styles{
  display: flex;
  position: absolute;
  width: 444px;
  height: 650px;
  background-color: rgb(231 207 225);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex: 1 1 auto;
  margin-top: 20px;
  border-radius: 15PX;
  padding: 20PX;
  color: #000000;
  font-weight: 700;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn-cerrar-modal {
  align-items: center;
  display: block;
  cursor: pointer;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 22px;
  right: 30px;
  /* background-color: lightgray; */
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  color: darkslateblue;
  font-weight: 800;
  font-size: 1.25rem;
  background: linear-gradient(to top right, #34025f, #378486);
  color: antiquewhite;
  
}

.form-styles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: space-around;
  margin-top: 21px;
}

.input-modal {
  height: 40px;
  width: 200px;
  padding: 5px;
  margin: 5px;
}

input:focus {
  color: blue;
}

.btn-agregar-favorito {
  align-items: center;
  display: block;
  color: white;
  font-size: 17px;
  letter-spacing: 2px;
  width: 222px;
  height: 51px;
  margin: 36px;
  border-width: 4px;
  border-style: solid;
  border-color: #6B63B5;
  background-color: rgb(0, 0, 0, 0.6);
  cursor: pointer;
  right: 50px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
}


main {
  background-image: url("./assets/B1-background.jpg");
  background-repeat: repeat ;
  padding: 1rem 4rem;
  min-height: 100vh;
}

.container-all-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(34, 34, 32, 0.67);
  border-radius: 10px;
  justify-content: center;
  align-content: center;
}

.container-card {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.card  {
  position: relative;
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 5px solid rgba(0, 0, 0, 0);
  border-radius: 1rem;
  margin: 10px;
  height: 180px;
  width: 380px;
}

.card-img {
  width: 60%;
  background: linear-gradient(to top right, #001aff, #8ae8c8);
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}

.img-style {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  margin-top: 14px;
  margin-left: 14px;
}

.card-info {
  align-items: flex-start;
  width: 91%;
  border: none;
  text-align: left;
  padding: 25px;
}
.status {
  font-weight: 600;
  margin: 4px;
}

.name {
  font-weight: 600;
  margin: 4px;
}

.b-day {
  font-weight: 600;
  margin: 4px;
  font-size: 0.75rem;
}

.gender {
  font-weight: 600;
  margin: 4px;
  font-size: 0.75rem;
}

.color-eyes {
  font-weight: 600;
  margin: 4px;
  font-size: 0.75rem;
}
                
.color-hair {
  font-weight: 600;
  margin: 4px;
  font-size: 0.75rem;
}

.house-p {
  font-weight: 600;
  margin: 4px;
  font-size: 0.75rem;
}

.btns-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.btn-titular {
  width: 140px;
  height: 35px;
  font-size: 1rem;
  font-weight: 700;
  background: linear-gradient(to top right, #34025f, #378486);
  color: antiquewhite;
  letter-spacing: 0.25rem;
  border-radius: 5px;
 margin: 0px 5px;
}

.btn-suplente {
  width: 140px;
  height: 35px;
  font-size: 1rem;
  font-weight: 700;

  background: linear-gradient(to top right, #eeb90a, #db0303);
  color: antiquewhite;
  letter-spacing: 0.25rem;
  border-radius: 5px;
  margin: 0px 5px;
}


.btn-car-agregar {
  height: 41px;
  width: 40%;
  margin-top: 55px;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 75px;
  margin-top: 205px;
}

.espacio-estudiantes{
  min-height: 100%vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(34, 34, 32, 0.67);
  border-radius: 10px;
  justify-content: center;
  align-content: center;

}
/*ESTILOS ESTUDIANTES SELECCIONADO */
.container-estudiante{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 260px;
  width: 164px;
}

.card-div-estudiantes{
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background: linear-gradient(to top right, #010316, #838886);
  background-color: #fff;
  /* background-clip: border-box; */
  border: 5px solid rgba(0, 0, 0, 0);
  /* border-radius: 1rem; */
  margin: 14px;
  height: 255px;
  width: 150px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.card-div-img-estudiante {
  width: 60%;
  background: linear-gradient(to top right, #010316, #8ae8c8);
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}

.img-estudiante-style{
  height: 80%;
  width: 80%;
  border-radius: 50%;
  margin-top: 11px;
  margin-left: 8px;
  margin-bottom: 21px;
}

.card-div-name-button{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-estudiante {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  margin-top: 12px;
  font-weight: 700;
}

.btn-quitar-estudiante {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 12px;
  background-color: #aa0606;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.25rem;
}

/*ESTILOS STAFF SELECCIONADO*/

.staff {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(34, 34, 32, 0.67);
  border-radius: 10px;
  justify-content: center;
  align-content: center;
}

.container-staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 260px;
  width: 164px;
}

.card-div-staff {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background: linear-gradient(to top right, #272513, #ebe1c9);
  background-color: #fff;
  /* background-clip: border-box; */
  border: 5px solid rgba(0, 0, 0, 0);
  /* border-radius: 1rem; */
  margin: 14px;
  height: 255px;
  width: 150px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.card-div-img-staff {
  width: 60%;
  background: linear-gradient(to top right, #010316, #8ae8c8);
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}

.img-staff-style {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  margin-top: 11px;
  margin-left: 8px;
  margin-bottom: 21px;
}

.card-div-name-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-staff {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  margin-top: 12px;
  font-weight: 700;
}

.btn-quitar-staff {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 12px;
  background-color: #aa0606;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.25rem;
}

.contenedor-personajes-suplentes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(85, 85, 51, 0.67);
  border-radius: 10px;
  justify-content: center;
  align-content: center;
  padding: 20px;
}